/vendor/
/node_modules/
/public/js/
/public/hot
/public/js/bundle
/public/js/main.js
/public/images/vendor
/public/storage
/storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/storage/app/public/*
!/storage/app/public/.gitignore
/.env
/.env.*
.env.backup
/database/database.sqlite
/composer.phar
/documentation.zip
/bootstrap/cache/*.php
*.log
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
